.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox___1Gbir {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Gbir {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__lCre7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lCre7 {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpg") top 0% left 50% / contain no-repeat;
  }
}
.img__bI1A {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__bI1A > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__bI1A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bI1A {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1300px;
}
.freeBox__a7MZ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a7MZ {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__iALv {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-Re3SCJIk_yyCbi);
}
.link__iALv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__iALv > :global(.__wab_flex-container) > *,
.link__iALv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__iALv > :global(.__wab_flex-container) > picture > img,
.link__iALv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iALv {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iALv > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iALv > :global(.__wab_flex-container) > *,
  .link__iALv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__iALv > :global(.__wab_flex-container) > picture > img,
  .link__iALv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg___3IAAf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__gRrUo {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gRrUo {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__gtrg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__gtrg > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__gtrg > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__gtrg > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__gtrg > :global(.__wab_flex-container) > *,
.columns__gtrg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gtrg > :global(.__wab_flex-container) > picture > img,
.columns__gtrg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gtrg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gtrg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gtrg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gtrg > :global(.__wab_flex-container) > *,
  .columns__gtrg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gtrg > :global(.__wab_flex-container) > picture > img,
  .columns__gtrg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column__umTcm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__joQbZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__joQbZ > picture > img {
  object-fit: cover;
}
.img__joQbZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mqkxg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__mqkxg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__mqkxg > :global(.__wab_flex-container) > *,
.column__mqkxg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mqkxg > :global(.__wab_flex-container) > picture > img,
.column__mqkxg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-fj_HsBo0aIlxdY);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text___1BBkF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.h5__qjQyy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__ghGs2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___6EzLj {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__zp6Sn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zp6Sn {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link___2SyE2 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OdlLUu4yengzPE);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-Re3SCJIk_yyCbi);
}
.link___2SyE2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link___2SyE2 > :global(.__wab_flex-container) > *,
.link___2SyE2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2SyE2 > :global(.__wab_flex-container) > picture > img,
.link___2SyE2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2SyE2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-OdlLUu4yengzPE);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2SyE2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2SyE2 > :global(.__wab_flex-container) > *,
  .link___2SyE2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___2SyE2 > :global(.__wab_flex-container) > picture > img,
  .link___2SyE2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg__tk7F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Re3SCJIk_yyCbi);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__xbuoH {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xbuoH {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox___9A3MD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox___9A3MD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9A3MD > :global(.__wab_flex-container) > *,
.freeBox___9A3MD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9A3MD > :global(.__wab_flex-container) > picture > img,
.freeBox___9A3MD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___4YeDl {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__cS8Ty {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__c0BS {
  position: relative;
}
.columns__aOqEd {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__aOqEd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__aOqEd > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aOqEd > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aOqEd > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aOqEd > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aOqEd > :global(.__wab_flex-container) > *,
.columns__aOqEd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aOqEd > :global(.__wab_flex-container) > picture > img,
.columns__aOqEd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOqEd {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOqEd > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOqEd > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOqEd > :global(.__wab_flex-container) > *,
  .columns__aOqEd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aOqEd > :global(.__wab_flex-container) > picture > img,
  .columns__aOqEd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__maXG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__is4Jk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__is4Jk:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__xmJp {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xmJp > picture > img {
  object-fit: cover;
}
.img__xmJp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings___5PrsV:global(.__wab_instance) {
  position: relative;
}
.column___1HmzI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__sKRgQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ddbHz {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ddbHz > picture > img {
  object-fit: cover;
}
.img__ddbHz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__nqiM:global(.__wab_instance) {
  position: relative;
}
.column__a4E3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__dy9RM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__jhw22 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jhw22 > picture > img {
  object-fit: cover;
}
.img__jhw22 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__oy02G:global(.__wab_instance) {
  position: relative;
}
.column__pO4Ic {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__iryTt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gvBii {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gvBii > picture > img {
  object-fit: cover;
}
.img__gvBii > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__rHzkd:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__o8Odz {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__fKakC {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__blq4Z {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__blq4Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__blq4Z > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__blq4Z > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__blq4Z > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__blq4Z > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__blq4Z > :global(.__wab_flex-container) > *,
.columns__blq4Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__blq4Z > :global(.__wab_flex-container) > picture > img,
.columns__blq4Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__blq4Z {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__blq4Z > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__blq4Z > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__blq4Z > :global(.__wab_flex-container) > *,
  .columns__blq4Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__blq4Z > :global(.__wab_flex-container) > picture > img,
  .columns__blq4Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column___4EWeL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jv178:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__cHxSh {
  height: auto;
}
.text__ljvOg {
  height: auto;
}
.img__y8Jb7 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__y8Jb7 > picture > img {
  object-fit: cover;
}
.img__y8Jb7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__keCuL:global(.__wab_instance) {
  position: relative;
}
.column__fIr7V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__xFnxH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__bjyxu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bjyxu > picture > img {
  object-fit: cover;
}
.img__bjyxu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings___0EKa:global(.__wab_instance) {
  position: relative;
}
.column__lpAaj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__kptwh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__mh5Vu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__mh5Vu > picture > img {
  object-fit: cover;
}
.img__mh5Vu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__zeE4H:global(.__wab_instance) {
  position: relative;
}
.column___0OQaW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__rr9Jg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__rr9Jg:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img___8HyYu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___8HyYu > picture > img {
  object-fit: cover;
}
.img___8HyYu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__r6Xj:global(.__wab_instance) {
  position: relative;
}
.freeBox__pv7Zg {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__jvZaL {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__wZGlx {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__wZGlx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__wZGlx > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wZGlx > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wZGlx > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__wZGlx > :global(.__wab_flex-container) > *,
.columns__wZGlx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wZGlx > :global(.__wab_flex-container) > picture > img,
.columns__wZGlx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wZGlx {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wZGlx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wZGlx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__jsJkW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__vlkvh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__laQk4 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__laQk4 > picture > img {
  object-fit: cover;
}
.img__laQk4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ruirp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__c8VZs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__tq3L {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tq3L > picture > img {
  object-fit: cover;
}
.img__tq3L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__cEpj7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__bM260:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ueOz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ueOz > picture > img {
  object-fit: cover;
}
.img__ueOz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vkyeq {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-QLA4byZUbPv4xo);
  display: none;
  padding: 48px;
}
.freeBox__vkyeq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vkyeq > :global(.__wab_flex-container) > *,
.freeBox__vkyeq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vkyeq > :global(.__wab_flex-container) > picture > img,
.freeBox__vkyeq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__igQtt {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__igQtt > picture > img {
  object-fit: cover;
}
.img__igQtt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1Yx8M {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img___1Yx8M > picture > img {
  object-fit: cover;
}
.img___1Yx8M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__i4YRo {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__i4YRo > picture > img {
  object-fit: cover;
}
.img__i4YRo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bMqAq {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__bMqAq > picture > img {
  object-fit: cover;
}
.img__bMqAq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__jeFPn {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__jeFPn > picture > img {
  object-fit: cover;
}
.img__jeFPn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer___0C1QW:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ggxV {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ggxV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ggxV > :global(.__wab_flex-container) > *,
.freeBox__ggxV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggxV > :global(.__wab_flex-container) > picture > img,
.freeBox__ggxV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__unF4U {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns__l1Pxt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__l1Pxt > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__l1Pxt > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__l1Pxt > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__l1Pxt > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__l1Pxt > :global(.__wab_flex-container) > *,
.columns__l1Pxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__l1Pxt > :global(.__wab_flex-container) > picture > img,
.columns__l1Pxt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Pxt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Pxt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Pxt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column___5ZxOw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___5ZxOw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___5ZxOw > :global(.__wab_flex-container) > *,
.column___5ZxOw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___5ZxOw > :global(.__wab_flex-container) > picture > img,
.column___5ZxOw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___30I25 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___30I25 > picture > img {
  object-fit: cover;
}
.img___30I25 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__fjRZw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___5MUS {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__x6F9T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__akUza {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__djOeJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__jw72H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__uxkCg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__uxkCg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__uxkCg > :global(.__wab_flex-container) > *,
.column__uxkCg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uxkCg > :global(.__wab_flex-container) > picture > img,
.column__uxkCg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__sEx8F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__sEx8F > picture > img {
  object-fit: cover;
}
.img__sEx8F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___1Gx5S {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___8Em6 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__izkG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__de3Gj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__ghWe3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__muqWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__eOdsV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__eOdsV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__eOdsV > :global(.__wab_flex-container) > *,
.column__eOdsV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eOdsV > :global(.__wab_flex-container) > picture > img,
.column__eOdsV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__xnNk8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__xnNk8 > picture > img {
  object-fit: cover;
}
.img__xnNk8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__g2Cyc {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__clHaG {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ux65Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___1C0Lq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__q5KG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5___8PWp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.img___3DOcv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___3DOcv > picture > img {
  object-fit: cover;
}
.img___3DOcv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___88Czw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__qRrDb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__e4QQg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__afK29 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__cWhG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__wpBUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dZxjZ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dZxjZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dZxjZ > :global(.__wab_flex-container) > *,
.freeBox__dZxjZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dZxjZ > :global(.__wab_flex-container) > picture > img,
.freeBox__dZxjZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__pTqYb {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns__vAae {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__vAae > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__vAae > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__vAae > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__vAae > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__vAae > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__vAae > :global(.__wab_flex-container) > *,
.columns__vAae > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vAae > :global(.__wab_flex-container) > picture > img,
.columns__vAae
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vAae {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vAae > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vAae > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column___8IsFs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___8IsFs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___8IsFs > :global(.__wab_flex-container) > *,
.column___8IsFs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___8IsFs > :global(.__wab_flex-container) > picture > img,
.column___8IsFs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___9R4AF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___9R4AF > picture > img {
  object-fit: cover;
}
.img___9R4AF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__jwiNc {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__pImTg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___9FTi1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__hI8Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__ckxoQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__aJHhD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__w2L4X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__w2L4X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__w2L4X > :global(.__wab_flex-container) > *,
.column__w2L4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__w2L4X > :global(.__wab_flex-container) > picture > img,
.column__w2L4X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__iFosu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__iFosu > picture > img {
  object-fit: cover;
}
.img__iFosu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__cln4Q {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__mxldw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__soAhn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__hhgHu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__cul8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__s4O7B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__ltkI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ltkI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ltkI > :global(.__wab_flex-container) > *,
.column__ltkI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ltkI > :global(.__wab_flex-container) > picture > img,
.column__ltkI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ddaOz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ddaOz > picture > img {
  object-fit: cover;
}
.img__ddaOz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__bqsaP {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__wsFzX {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__dezEy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___9Lxm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__x708S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__abRhg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__iVxzl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__iVxzl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__iVxzl > :global(.__wab_flex-container) > *,
.column__iVxzl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__iVxzl > :global(.__wab_flex-container) > picture > img,
.column__iVxzl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___9Tfco {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___9Tfco > picture > img {
  object-fit: cover;
}
.img___9Tfco > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__iskiy {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___7T4WF {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___2Vljo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__uAys0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__fC6ES {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__kGZyF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.footer__o0L0U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
