@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-SnN7D4tsVcE8wy: #384647;
  --plasmic-token-text: var(--token-SnN7D4tsVcE8wy);
  --token-mLUrJZRgL4JFPm: rgb(97, 96, 96);
  --plasmic-token-heading: var(--token-mLUrJZRgL4JFPm);
  --token-C-K097Jg2zWVGz: rgb(95, 91, 87);
  --plasmic-token-border: var(--token-C-K097Jg2zWVGz);
  --token-QLA4byZUbPv4xo: #f7f7f7;
  --plasmic-token-background: var(--token-QLA4byZUbPv4xo);
  --token-Re3SCJIk_yyCbi: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-Re3SCJIk_yyCbi);
  --token-RMaIkjACyarSB_: rgb(153, 141, 128);
  --plasmic-token-preheader: var(--token-RMaIkjACyarSB_);
  --token-OdlLUu4yengzPE: #88dd9b;
  --plasmic-token-green: var(--token-OdlLUu4yengzPE);
  --token-XL52eyzokj0PBE: 1.5;
  --plasmic-token-unnamed-style-token-2: var(--token-XL52eyzokj0PBE);
  --token-fj_HsBo0aIlxdY: #273132;
  --plasmic-token-heading-2: var(--token-fj_HsBo0aIlxdY);
  --token-RwG4modd2sJAe-: #6b797a;
  --plasmic-token-heading-3: var(--token-RwG4modd2sJAe-);
  --token-FrVxrO3xIVC8IA: 270px;
  --plasmic-token-product-height: var(--token-FrVxrO3xIVC8IA);
  --token-nzqLQxZsH1S6si: #384647;
  --plasmic-token-header-meneu-color: var(--token-nzqLQxZsH1S6si);
  --token-IpUbqvWvIpwzHH: 749px;
  --plasmic-token-about-img: var(--token-IpUbqvWvIpwzHH);
}

.plasmic_default_styles {
  --mixin-wEYu8E4Oq8Tvyv_font-family: "Montserrat", sans-serif;
  --mixin-wEYu8E4Oq8Tvyv_font-size: 16px;
  --mixin-wEYu8E4Oq8Tvyv_font-weight: 300;
  --mixin-wEYu8E4Oq8Tvyv_font-style: normal;
  --mixin-wEYu8E4Oq8Tvyv_color: #535353;
  --mixin-wEYu8E4Oq8Tvyv_text-align: left;
  --mixin-wEYu8E4Oq8Tvyv_text-transform: none;
  --mixin-wEYu8E4Oq8Tvyv_line-height: 1.7;
  --mixin-wEYu8E4Oq8Tvyv_letter-spacing: 0.2px;
  --mixin-wEYu8E4Oq8Tvyv_white-space: pre-wrap;
  --mixin-wEYu8E4Oq8Tvyv_user-select: text;
  --mixin-wEYu8E4Oq8Tvyv_text-decoration-line: none;
  --mixin-wEYu8E4Oq8Tvyv_text-overflow: clip;
  --mixin-BZWn9R1TBJqrHD_color: var(--token-Re3SCJIk_yyCbi);
  --mixin-BZWn9R1TBJqrHD_font-family: "Open Sans", sans-serif;
  --mixin-BZWn9R1TBJqrHD_font-weight: 700;
  --mixin-BZWn9R1TBJqrHD_font-size: 64px;
  --mixin-BZWn9R1TBJqrHD_line-height: 1.1;
  --mixin-BZWn9R1TBJqrHD_white-space: pre-wrap;
  --mixin-D9wGM3c_-YR5yz_color: var(--token-6-9k9VEZ-);
  --mixin-D9wGM3c_-YR5yz_font-family: "Open Sans", sans-serif;
  --mixin-D9wGM3c_-YR5yz_font-weight: 600;
  --mixin-D9wGM3c_-YR5yz_font-size: 32px;
  --mixin-D9wGM3c_-YR5yz_letter-spacing: -1px;
  --mixin-D9wGM3c_-YR5yz_white-space: pre-wrap;
  --mixin-i2tg8bBAuSq6F__font-size: 32px;
  --mixin-i2tg8bBAuSq6F__white-space: pre-wrap;
  --mixin--C0TnY1MM0_E7T_font-family: "Inter", sans-serif;
  --mixin--C0TnY1MM0_E7T_color: #000000;
  --mixin--C0TnY1MM0_E7T_font-size: 16px;
  --mixin--C0TnY1MM0_E7T_font-weight: 600;
  --mixin--C0TnY1MM0_E7T_line-height: 1.5;
  --mixin--C0TnY1MM0_E7T_white-space: pre-wrap;
  --mixin-fSg9ort7B3kkDI_font-size: 24px;
  --mixin-fSg9ort7B3kkDI_color: var(--token-NEon4Y--Z);
  --mixin-fSg9ort7B3kkDI_font-weight: 600;
  --mixin-fSg9ort7B3kkDI_font-family: "Montserrat", sans-serif;
  --mixin-fSg9ort7B3kkDI_white-space: pre-wrap;
  --mixin-9GqHgwXvSDkPzA_font-size: 16px;
  --mixin-9GqHgwXvSDkPzA_color: var(--token-fj_HsBo0aIlxdY);
  --mixin-9GqHgwXvSDkPzA_font-weight: 600;
  --mixin-9GqHgwXvSDkPzA_font-family: "Montserrat", sans-serif;
  --mixin-9GqHgwXvSDkPzA_white-space: pre-wrap;
  --mixin-4dLVf9GjAozqsT_font-size: 24px;
  --mixin-4dLVf9GjAozqsT_color: #384647;
  --mixin-4dLVf9GjAozqsT_font-family: "Open Sans", sans-serif;
  --mixin-4dLVf9GjAozqsT_font-weight: 700;
  --mixin-4dLVf9GjAozqsT_white-space: pre-wrap;
  --mixin-b0-vo2b81oZmh5_border-left-color: #dddddd;
  --mixin-b0-vo2b81oZmh5_border-left-style: solid;
  --mixin-b0-vo2b81oZmh5_border-left-width: 3px;
  --mixin-b0-vo2b81oZmh5_color: #888888;
  --mixin-b0-vo2b81oZmh5_padding-left: 10px;
  --mixin-b0-vo2b81oZmh5_white-space: pre-wrap;
  --mixin-rjUUY0FWiC0L_y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rjUUY0FWiC0L_y_border-bottom-color: #dddddd;
  --mixin-rjUUY0FWiC0L_y_border-bottom-style: solid;
  --mixin-rjUUY0FWiC0L_y_border-bottom-width: 1px;
  --mixin-rjUUY0FWiC0L_y_border-left-color: #dddddd;
  --mixin-rjUUY0FWiC0L_y_border-left-style: solid;
  --mixin-rjUUY0FWiC0L_y_border-left-width: 1px;
  --mixin-rjUUY0FWiC0L_y_border-right-color: #dddddd;
  --mixin-rjUUY0FWiC0L_y_border-right-style: solid;
  --mixin-rjUUY0FWiC0L_y_border-right-width: 1px;
  --mixin-rjUUY0FWiC0L_y_border-top-color: #dddddd;
  --mixin-rjUUY0FWiC0L_y_border-top-style: solid;
  --mixin-rjUUY0FWiC0L_y_border-top-width: 1px;
  --mixin-rjUUY0FWiC0L_y_border-bottom-left-radius: 3px;
  --mixin-rjUUY0FWiC0L_y_border-bottom-right-radius: 3px;
  --mixin-rjUUY0FWiC0L_y_border-top-left-radius: 3px;
  --mixin-rjUUY0FWiC0L_y_border-top-right-radius: 3px;
  --mixin-rjUUY0FWiC0L_y_font-family: "Inconsolata";
  --mixin-rjUUY0FWiC0L_y_padding-bottom: 1px;
  --mixin-rjUUY0FWiC0L_y_padding-left: 4px;
  --mixin-rjUUY0FWiC0L_y_padding-right: 4px;
  --mixin-rjUUY0FWiC0L_y_padding-top: 1px;
  --mixin-rjUUY0FWiC0L_y_white-space: pre-wrap;
  --mixin-Eh5OzkLQILyI_X_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Eh5OzkLQILyI_X_border-bottom-color: #dddddd;
  --mixin-Eh5OzkLQILyI_X_border-bottom-style: solid;
  --mixin-Eh5OzkLQILyI_X_border-bottom-width: 1px;
  --mixin-Eh5OzkLQILyI_X_border-left-color: #dddddd;
  --mixin-Eh5OzkLQILyI_X_border-left-style: solid;
  --mixin-Eh5OzkLQILyI_X_border-left-width: 1px;
  --mixin-Eh5OzkLQILyI_X_border-right-color: #dddddd;
  --mixin-Eh5OzkLQILyI_X_border-right-style: solid;
  --mixin-Eh5OzkLQILyI_X_border-right-width: 1px;
  --mixin-Eh5OzkLQILyI_X_border-top-color: #dddddd;
  --mixin-Eh5OzkLQILyI_X_border-top-style: solid;
  --mixin-Eh5OzkLQILyI_X_border-top-width: 1px;
  --mixin-Eh5OzkLQILyI_X_border-bottom-left-radius: 3px;
  --mixin-Eh5OzkLQILyI_X_border-bottom-right-radius: 3px;
  --mixin-Eh5OzkLQILyI_X_border-top-left-radius: 3px;
  --mixin-Eh5OzkLQILyI_X_border-top-right-radius: 3px;
  --mixin-Eh5OzkLQILyI_X_font-family: "Inconsolata";
  --mixin-Eh5OzkLQILyI_X_padding-bottom: 3px;
  --mixin-Eh5OzkLQILyI_X_padding-left: 6px;
  --mixin-Eh5OzkLQILyI_X_padding-right: 6px;
  --mixin-Eh5OzkLQILyI_X_padding-top: 3px;
  --mixin-Eh5OzkLQILyI_X_white-space: pre-wrap;
  --mixin-EhErXgVuuxd6Yt_display: flex;
  --mixin-EhErXgVuuxd6Yt_flex-direction: column;
  --mixin-EhErXgVuuxd6Yt_align-items: stretch;
  --mixin-EhErXgVuuxd6Yt_justify-content: flex-start;
  --mixin-EhErXgVuuxd6Yt_list-style-position: outside;
  --mixin-EhErXgVuuxd6Yt_padding-left: 40px;
  --mixin-EhErXgVuuxd6Yt_position: relative;
  --mixin-EhErXgVuuxd6Yt_list-style-type: decimal;
  --mixin-EhErXgVuuxd6Yt_white-space: pre-wrap;
  --mixin-eK5EESPO-62K6o_display: flex;
  --mixin-eK5EESPO-62K6o_flex-direction: column;
  --mixin-eK5EESPO-62K6o_align-items: stretch;
  --mixin-eK5EESPO-62K6o_justify-content: flex-start;
  --mixin-eK5EESPO-62K6o_list-style-position: outside;
  --mixin-eK5EESPO-62K6o_padding-left: 40px;
  --mixin-eK5EESPO-62K6o_position: relative;
  --mixin-eK5EESPO-62K6o_list-style-type: disc;
  --mixin-eK5EESPO-62K6o_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wEYu8E4Oq8Tvyv_font-family);
  font-size: var(--mixin-wEYu8E4Oq8Tvyv_font-size);
  font-weight: var(--mixin-wEYu8E4Oq8Tvyv_font-weight);
  font-style: var(--mixin-wEYu8E4Oq8Tvyv_font-style);
  color: var(--mixin-wEYu8E4Oq8Tvyv_color);
  text-align: var(--mixin-wEYu8E4Oq8Tvyv_text-align);
  text-transform: var(--mixin-wEYu8E4Oq8Tvyv_text-transform);
  line-height: var(--mixin-wEYu8E4Oq8Tvyv_line-height);
  letter-spacing: var(--mixin-wEYu8E4Oq8Tvyv_letter-spacing);
  white-space: var(--mixin-wEYu8E4Oq8Tvyv_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-BZWn9R1TBJqrHD_color);
  font-family: var(--mixin-BZWn9R1TBJqrHD_font-family);
  font-weight: var(--mixin-BZWn9R1TBJqrHD_font-weight);
  font-size: var(--mixin-BZWn9R1TBJqrHD_font-size);
  line-height: var(--mixin-BZWn9R1TBJqrHD_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-D9wGM3c_-YR5yz_color);
  font-family: var(--mixin-D9wGM3c_-YR5yz_font-family);
  font-weight: var(--mixin-D9wGM3c_-YR5yz_font-weight);
  font-size: var(--mixin-D9wGM3c_-YR5yz_font-size);
  letter-spacing: var(--mixin-D9wGM3c_-YR5yz_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-i2tg8bBAuSq6F__font-size);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin--C0TnY1MM0_E7T_font-family);
  color: var(--mixin--C0TnY1MM0_E7T_color);
  font-size: var(--mixin--C0TnY1MM0_E7T_font-size);
  font-weight: var(--mixin--C0TnY1MM0_E7T_font-weight);
  line-height: var(--mixin--C0TnY1MM0_E7T_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-fSg9ort7B3kkDI_font-size);
  color: var(--mixin-fSg9ort7B3kkDI_color);
  font-weight: var(--mixin-fSg9ort7B3kkDI_font-weight);
  font-family: var(--mixin-fSg9ort7B3kkDI_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  font-size: var(--mixin-9GqHgwXvSDkPzA_font-size);
  color: var(--mixin-9GqHgwXvSDkPzA_color);
  font-weight: var(--mixin-9GqHgwXvSDkPzA_font-weight);
  font-family: var(--mixin-9GqHgwXvSDkPzA_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-4dLVf9GjAozqsT_font-size);
  color: var(--mixin-4dLVf9GjAozqsT_color);
  font-family: var(--mixin-4dLVf9GjAozqsT_font-family);
  font-weight: var(--mixin-4dLVf9GjAozqsT_font-weight);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-b0-vo2b81oZmh5_color);
  padding-left: var(--mixin-b0-vo2b81oZmh5_padding-left);
  border-left: var(--mixin-b0-vo2b81oZmh5_border-left-width)
    var(--mixin-b0-vo2b81oZmh5_border-left-style)
    var(--mixin-b0-vo2b81oZmh5_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rjUUY0FWiC0L_y_font-family);
  border-radius: var(--mixin-rjUUY0FWiC0L_y_border-top-left-radius)
    var(--mixin-rjUUY0FWiC0L_y_border-top-right-radius)
    var(--mixin-rjUUY0FWiC0L_y_border-bottom-right-radius)
    var(--mixin-rjUUY0FWiC0L_y_border-bottom-left-radius);
  padding: var(--mixin-rjUUY0FWiC0L_y_padding-top)
    var(--mixin-rjUUY0FWiC0L_y_padding-right)
    var(--mixin-rjUUY0FWiC0L_y_padding-bottom)
    var(--mixin-rjUUY0FWiC0L_y_padding-left);
  border-top: var(--mixin-rjUUY0FWiC0L_y_border-top-width)
    var(--mixin-rjUUY0FWiC0L_y_border-top-style)
    var(--mixin-rjUUY0FWiC0L_y_border-top-color);
  border-right: var(--mixin-rjUUY0FWiC0L_y_border-right-width)
    var(--mixin-rjUUY0FWiC0L_y_border-right-style)
    var(--mixin-rjUUY0FWiC0L_y_border-right-color);
  border-bottom: var(--mixin-rjUUY0FWiC0L_y_border-bottom-width)
    var(--mixin-rjUUY0FWiC0L_y_border-bottom-style)
    var(--mixin-rjUUY0FWiC0L_y_border-bottom-color);
  border-left: var(--mixin-rjUUY0FWiC0L_y_border-left-width)
    var(--mixin-rjUUY0FWiC0L_y_border-left-style)
    var(--mixin-rjUUY0FWiC0L_y_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Eh5OzkLQILyI_X_font-family);
  border-radius: var(--mixin-Eh5OzkLQILyI_X_border-top-left-radius)
    var(--mixin-Eh5OzkLQILyI_X_border-top-right-radius)
    var(--mixin-Eh5OzkLQILyI_X_border-bottom-right-radius)
    var(--mixin-Eh5OzkLQILyI_X_border-bottom-left-radius);
  padding: var(--mixin-Eh5OzkLQILyI_X_padding-top)
    var(--mixin-Eh5OzkLQILyI_X_padding-right)
    var(--mixin-Eh5OzkLQILyI_X_padding-bottom)
    var(--mixin-Eh5OzkLQILyI_X_padding-left);
  border-top: var(--mixin-Eh5OzkLQILyI_X_border-top-width)
    var(--mixin-Eh5OzkLQILyI_X_border-top-style)
    var(--mixin-Eh5OzkLQILyI_X_border-top-color);
  border-right: var(--mixin-Eh5OzkLQILyI_X_border-right-width)
    var(--mixin-Eh5OzkLQILyI_X_border-right-style)
    var(--mixin-Eh5OzkLQILyI_X_border-right-color);
  border-bottom: var(--mixin-Eh5OzkLQILyI_X_border-bottom-width)
    var(--mixin-Eh5OzkLQILyI_X_border-bottom-style)
    var(--mixin-Eh5OzkLQILyI_X_border-bottom-color);
  border-left: var(--mixin-Eh5OzkLQILyI_X_border-left-width)
    var(--mixin-Eh5OzkLQILyI_X_border-left-style)
    var(--mixin-Eh5OzkLQILyI_X_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-EhErXgVuuxd6Yt_display);
  flex-direction: var(--mixin-EhErXgVuuxd6Yt_flex-direction);
  align-items: var(--mixin-EhErXgVuuxd6Yt_align-items);
  justify-content: var(--mixin-EhErXgVuuxd6Yt_justify-content);
  list-style-position: var(--mixin-EhErXgVuuxd6Yt_list-style-position);
  padding-left: var(--mixin-EhErXgVuuxd6Yt_padding-left);
  position: var(--mixin-EhErXgVuuxd6Yt_position);
  list-style-type: var(--mixin-EhErXgVuuxd6Yt_list-style-type);
  flex-column-gap: var(--mixin-EhErXgVuuxd6Yt_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-eK5EESPO-62K6o_display);
  flex-direction: var(--mixin-eK5EESPO-62K6o_flex-direction);
  align-items: var(--mixin-eK5EESPO-62K6o_align-items);
  justify-content: var(--mixin-eK5EESPO-62K6o_justify-content);
  list-style-position: var(--mixin-eK5EESPO-62K6o_list-style-position);
  padding-left: var(--mixin-eK5EESPO-62K6o_padding-left);
  position: var(--mixin-eK5EESPO-62K6o_position);
  list-style-type: var(--mixin-eK5EESPO-62K6o_list-style-type);
  flex-column-gap: var(--mixin-eK5EESPO-62K6o_flex-column-gap);
}
