.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__anjgA {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__anjgA > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__anjgA > :global(.__wab_flex-container) > *,
.freeBox__anjgA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__anjgA > :global(.__wab_flex-container) > picture > img,
.freeBox__anjgA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__anjgA {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__tsBJj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__wdiSc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QLA4byZUbPv4xo);
  width: 44px;
  height: 33px;
  flex-shrink: 0;
}
.freeBox__l9Vk3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__l9Vk3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__l9Vk3 > :global(.__wab_flex-container) > *,
.freeBox__l9Vk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l9Vk3 > :global(.__wab_flex-container) > picture > img,
.freeBox__l9Vk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9Vk3 {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9Vk3 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9Vk3 > :global(.__wab_flex-container) > *,
  .freeBox__l9Vk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__l9Vk3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__l9Vk3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__l9Vk3Km7Ym {
    display: none;
  }
}
.home {
  color: var(--token-Re3SCJIk_yyCbi);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .home {
    font-size: 16px;
  }
}
.link___4Mkvj {
  color: var(--token-Re3SCJIk_yyCbi);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___4Mkvj {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-Re3SCJIk_yyCbi);
  }
}
.catalogo {
  color: var(--token-Re3SCJIk_yyCbi);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .catalogo {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-Re3SCJIk_yyCbi);
  }
}
.freeBox__lOvlk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__lOvlk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lOvlk > :global(.__wab_flex-container) > *,
.freeBox__lOvlk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lOvlk > :global(.__wab_flex-container) > picture > img,
.freeBox__lOvlk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rhRif {
  position: relative;
  object-fit: cover;
  color: var(--token-Re3SCJIk_yyCbi);
  width: 30px;
  height: 30px;
}
.root .svg__rhRif:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-Re3SCJIk_yyCbi);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__mAhyx {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__tZbZt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__iJ18K:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jW3Er:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__gwCtE:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___4PveK:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
